<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WashedApp</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		{{{ body }}}
	</body>
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</HTML>